In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('train_modified.csv')
df.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,loan,Loan_Status
0,1,0,0,1,0,1.0,3,1,3,Y
1,1,1,1,1,0,1.0,1,1,3,N
2,1,1,0,1,1,1.0,3,0,3,Y
3,1,1,0,0,0,1.0,3,0,3,Y
4,1,0,0,1,0,1.0,3,1,4,Y

In [3]:
test=pd.read_csv('test_modified.csv')
test.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,loan
0,1,1,0,1,0,1.0,3,1,3
1,1,1,1,1,0,1.0,3,0,3
2,1,1,2,1,0,1.0,3,1,4
3,1,1,2,1,0,1.0,3,0,3
4,1,0,0,0,0,1.0,3,0,3

In [4]:
x=df.drop('Loan_Status',axis=1)
y=df.Loan_Status

In [5]:
submit=pd.read_csv(r'C:\Users\mansi\Desktop\data_science\loanpred\sample.csv')
submit.head()

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N

In [6]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(max_leaf_nodes=8,random_state=1)
rf.fit(x,y)
submit['Loan_Status']=rf.predict(test)

In [7]:
submit.Loan_Status.value_counts()

Y    308
N     59
Name: Loan_Status, dtype: int64

In [8]:
y.value_counts()

Y    421
N    192
Name: Loan_Status, dtype: int64

In [9]:
submit.to_csv('final.csv',index=False)